<!DOCTYPE html>
<html lang="en">
  <head>
    <title>错帐详情</title>
	<script src="./js/ees-err-detail.js"></script>
  </head>

  <body>
          <div class="">
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>错帐详情</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content" style="min-height: 470px">
                  	
                  	<div class="row">
                  		<form id="queryForm" class="form-horizontal form-label-left" novalidate>
		                      <div class="item form-group" >
		                        <label class="control-label col-md-1 col-sm-1 col-xs-1" for="query_name">姓名</label>
		                        <div class="col-md-3 col-sm-3 col-xs-6" >
		                          <input id="query_name" class="form-control col-md-7 col-xs-12" type="text">
		                        </div>
		                        
		                        <label class="control-label col-md-3 col-sm-3 col-xs-3"></label>
		                        
		                        <label class="control-label col-md-1 col-sm-1 col-xs-1">父类菜单 </label>
		                        <div class="col-md-3 col-sm-3 col-xs-6">
		                          <input id="query_email"  class="form-control col-md-7 col-xs-12">
		                        </div>
		                      </div>
		                      <div class="form-group" align="center">
		                        <div class="col-md-6 col-md-offset-3" >
		                          <button type="reset"  class="btn btn-primary">重置</button> 
		                          <button type="button" onclick="query()" class="btn btn-success">提交</button>
		                        </div>
		                      </div>
		                    </form>
		                    <div class="ln_solid"></div>
                  	</div>
                  
                  	<div class="row">
                  		<div class="col-sm-6">
                  			<div class="dataTables_length" id="datatable-buttons_length"></div>
                  		</div>
                  	</div>
                  	
                    <table id="datatable-buttons"  style="width: 100%" class="table table-striped table-bordered bulk_action">
                      <thead>
                        <tr>
                          <th width="5%">序号</th>
                          <th width="15%">姓名</th>
                          <th width="15%">邮件地址</th>
                          <th width="20%">菜单URL</th>
                          <th width="10%">URL类型</th> 
                          <th width="20%">备注</th> 
                          <th width="15%">操作</th> 
                        </tr>
                      </thead>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </body>
</html>