<!DOCTYPE html>
<html>
<head>
</head>
<script src="./js/left_menu.js"></script>
<body>
	<div class="col-md-3 left_col">
		<div class="left_col scroll-view">
			<div class="navbar nav_title" style="border: 0;">
				<a href="index.html" class="site_title">
					<!-- <img src="images/logo.png" alt="百信银行" style="width: 40px;height: 35px" > -->
					<span>鹰眼系统</span>
				</a>
			</div>

			<div class="clearfix"></div>

			<!-- menu profile quick info -->
			<div class="profile clearfix">
				<div class="profile_pic">
					<img src="images/img.jpg" alt="..." class="img-circle profile_img">
				</div>
				<div class="profile_info">
					<span>欢迎,</span>
					<h2 id="userNameMenu">监控人员</h2>
				</div>
			</div>

			<!-- sidebar menu -->
			<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
				<div class="menu_section active">
					<ul class="nav side-menu" id="menu">
					</ul>
				</div>
			</div>

			<!-- /menu footer buttons -->
			<div class="sidebar-footer hidden-small">
				<a data-toggle="tooltip" data-placement="top" title="Settings">
					<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
				</a> <a data-toggle="tooltip" data-placement="top" title="FullScreen">
					<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
				</a> <a data-toggle="tooltip" data-placement="top" title="Lock"> <span
					class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
				</a> <a data-toggle="tooltip" data-placement="top" title="Logout"
					href="login.html"> <span class="glyphicon glyphicon-off"
					aria-hidden="true"></span>
				</a>
			</div>
		</div>
	</div>
</body>
</html>