<!DOCTYPE html>
<html lang="en">
<head>
<title>报警定时任务</title>
<script src="./js/ees-quart-acct.js"></script>
</head>
<body>
	<div class="">
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>报警定时任务管理</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content" style="min-height: 470px">
						<div class="row">
							<form id="queryForm" class="form-horizontal form-label-left"
								novalidate>
								<div class="item form-group">
									<label class="control-label col-md-1 col-sm-1 col-xs-1">任务名称</label>
									<div class="col-md-3 col-sm-3 col-xs-6">
										<input id="queryJobName" class="form-control col-md-7 col-xs-12" type="text">
									</div>
	
									<label class="control-label col-md-3 col-sm-3 col-xs-3"></label> 
									
									<label class="control-label col-md-1 col-sm-1 col-xs-1">任务组名 </label>
									<div class="col-md-3 col-sm-3 col-xs-6">
										<input id="queryJobGroupName" class="form-control col-md-7 col-xs-12">
									</div>
								</div>
	
								<div class="item form-group">
									<label class="control-label col-md-1 col-sm-1 col-xs-1">触发器名称</label>
									<div class="col-md-3 col-sm-3 col-xs-6">
										<input id="queryJobTriggerName" class="form-control col-md-7 col-xs-12">
									</div>
	
									<label class="control-label col-md-3 col-sm-3 col-xs-3"></label>
	
									<label class="control-label col-md-1 col-sm-1 col-xs-1">触发器组</label>
									<div class="col-md-3 col-sm-3 col-xs-6">
										<input id="queryJobTriggerGroupName" class="form-control col-md-7 col-xs-12">
									</div>
								</div>
								<div class="form-group" align="center">
									<div class="col-md-6 col-md-offset-3">
										<button type="reset" class="btn btn-primary">重置</button>
										<button type="button" onclick="query()"
											class="btn btn-success">提交</button>
									</div>
								</div>
							</form>
							<div class="ln_solid"></div>
						</div>
	
						<div class="row">
							<div class="col-sm-6">
								<button type="button" onclick="addModel()"
									class="btn btn-primary" style="margin: 1px;">添加</button>
								<!-- 批量处理预留 <button type="button"
									onclick="action('/sys/user/upStatus','启用')"
									class="btn btn-primary" style="margin: 1px;">启用</button>
								<button type="button"
									onclick="action('/sys/user/downStatus','禁用')"
									class="btn btn-primary" style="margin: 1px;">禁用</button> 
								<button type="button"
									onclick="action('/sys/user/deleteByIds','批量删除')"
									class="btn btn-primary" style="margin: 1px;">批量删除</button>
									-->
							</div>
						</div>
	
						<table id="datatable-buttons" style="width: 100%"
							class="table table-striped table-bordered bulk_action">
							<thead>
								<tr>
									<th width="5%">序号</th>
									<th width="15%">任务名称</th>
									<th width="15%">任务组名</th>
									<th width="15%">触发器名称</th>
									<th width="15%">触发器组</th>
									<th width="10%">定时表达式</th>
									<th width="5%">状态</th>
									<th width="20%">操作</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 新增窗口模态框（Modal） -->
	<div style="top: 1%; left: 7%" class="modal fade bs-example-modal-lg"
		id="addModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h4 class="modal-title" id="myModalLabel">添加操作</h4>
				</div>
				<div class="modal-body">
					<form id="addForm" class="form-horizontal form-label-left"
						novalidate>
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">任务名称 
								<span class="required" style="color: red;">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input id="addJobName" class="form-control col-md-7 col-xs-12"
									name="jobName" type="text">
							</div>
							<label class="control-label" for="addJobName" id="addJobNameError"></label>
						</div>
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">任务组名
								<span class="required" style="color: red;">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input id="addJobGroupName" name="jobGroupName" onblur="checkJobNameAndGroup('add')"
									class="form-control col-md-7 col-xs-12">
							</div>
							<label class="control-label errorRemark" for="addJobGroupName" id="addJobGroupNameError"></label>
						</div>
						<div class="item form-group">
							<label  class="control-label col-md-3 col-sm-3 col-xs-12">触发器名称
								<span class="required" style="color: red;">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input id="addJobTriggerName" name="jobTriggerName" 
									class="form-control col-md-7 col-xs-12">
							</div>
							<label class="control-label" for="addJobTriggerName" id="addJobTriggerNameError"></label>
						</div>
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">触发器组
								 <span class="required" style="color: red;">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input id="addJobTriggerGroupName" name="jobTriggerGroupName" onblur="checkTriggerNameAndGroup('add')"
									class="form-control col-md-7 col-xs-12">
							</div>
							<label class="control-label errorRemark" for="addJobTriggerGroupName" id="addJobTriggerGroupNameError"></label>
						</div>
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">父类包路径 
								<span class="required" style="color: red;">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input id="addJobImplClass" name="jobImplClass" 
									class="form-control col-md-7 col-xs-12">
							</div>
							<label class="control-label" for="addOrgSelect" id="addJobImplClassError"></label>
						</div>
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">定时表达式 
								<span class="required" style="color: red;">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input id="addCronExpression" name="cronExpression"
									class="form-control col-md-7 col-xs-12">
							</div>
							<label class="control-label" for="addCronExpression" id="addCronExpressionError"></label>
						</div>

						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">任务状态 
								<span class="required"style="color: red;">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<select class="form-control" id="addJobStatus" name="jobStatus">
								</select>
							</div>
							<label class="control-label" for="addJobStatus"></label>
						</div>
						
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">任务中文描述</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<textarea id="addJobDesc" name="jobDesc"
									onkeyup="limitMaxLength('addJobDesc','add_num_text',500)"
									rows="5" class="form-control col-md-7 col-xs-12"></textarea>
							</div>
							<label class="control-label errorRemark" style="color: red;" id="add_num_text" for="addJobDesc"></label>
						</div>

						<div class="ln_solid"></div>
						<div class="form-group">
							<div class="col-md-6 col-md-offset-3">
								<button type="reset" class="btn btn-primary">重置</button>
								<button type="submit" onclick="dosubmitAdd()" id="addInfo"
									class="btn btn-success">提交</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 修改窗口模态框（Modal） -->
	<div style="top: 1%; left: 7%" class="modal fade bs-example-modal-lg"
		id="editdModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h4 class="modal-title" id="myModalLabel">修改操作</h4>
				</div>
				<div class="modal-body">
					<form id="updateForm" class="form-horizontal form-label-left"
						novalidate>
						
						<div class="item form-group" style="display: none;">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">任务Id
							 <span class="required" style="color: red;">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input id="updateJobId" class="form-control col-md-7 col-xs-12"
									name="jobId" type="text">
							</div>
							<label class="control-label" for="updateJobId" id="updateJobNameError"></label>
						</div>
						
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">任务名称 
								<span class="required" style="color: red;">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input id="updateJobName" class="form-control col-md-7 col-xs-12" 
									name="jobName" type="text">
							</div>
							<label class="control-label" for="updateJobName" id="updateJobNameError"></label>
						</div>
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">任务组名
								<span class="required" style="color: red;">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input id="updateJobGroupName" name="jobGroupName" onblur="checkJobNameAndGroup('update')"
									class="form-control col-md-7 col-xs-12">
							</div>
							<label class="control-label errorRemark" style="color: red;" for="updateJobGroupName"
								id="updateJobGroupNameError"></label>
						</div>
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">触发器名称
								<span class="required" style="color: red;">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input id="updateJobTriggerName" name="jobTriggerName"
									class="form-control col-md-7 col-xs-12">
							</div>
							<label class="control-label" style="color: red;" for="updateJobTriggerName"
								id="updateJobTriggerNameError"></label>
						</div>
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">触发器组 
								<span class="required" style="color: red;">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input id="updateJobTriggerGroupName" name="jobTriggerGroupName" 
									onblur="checkTriggerNameAndGroup('update')" class="form-control col-md-7 col-xs-12">
							</div>
							<label class="control-label errorRemark" style="color: red;" for="updateJobTriggerGroupName"
								id="updateJobTriggerGroupNameError"></label>
						</div>
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">父类包路径 
								<span class="required" style="color: red;">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input id="updateJobImplClass" name="jobImplClass"
									class="form-control col-md-7 col-xs-12">
							</div>
							<label class="control-label" style="color: red;" for="addOrgSelect"
								id="updateJobImplClassError"></label>
						</div>
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">定时表达式 
								<span class="required" style="color: red;">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input id="updateCronExpression" name="cronExpression" onblur="isExist()"
									class="form-control col-md-7 col-xs-12">
							</div>
							<label class="control-label" style="color: red;" for="updateCronExpression"
								id="updateCronExpressionError"></label>
						</div>

						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">任务状态 
								<span class="required" style="color: red;">*</span></label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<select class="form-control" id="updateJobStatus" name="jobStatus">
								</select>
							</div>
							<label class="control-label" for="updateJobStatus"></label>
						</div>
						
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">任务中文描述</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<textarea id="updateJobDesc" name="jobDesc"
									onkeyup="limitMaxLength('updateJobDesc','update_num_text',500)"
									rows="5" class="form-control col-md-7 col-xs-12"></textarea>
							</div>
							<label class="control-label errorRemark" style="color: red;" id="update_num_text" for="updateJobDesc"></label>
						</div>

						<div class="ln_solid"></div>
						<div class="form-group">
							<div class="col-md-6 col-md-offset-3">
								<button type="button" class="btn btn-primary" data-dismiss="modal" 
									aria-hidden="true">取消</button> 
								<button type="submit" onclick="dosubmitUpdate()" id="addInfo"
									class="btn btn-success">修改</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 详情窗口模态框（Modal） -->
	<div style="top: 1%; left: 7%" class="modal fade bs-example-modal-lg"
		id="allInfoModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h4 class="modal-title" id="myModalLabel">详情展示</h4>
				</div>
				<div class="modal-body">
					<div class="item form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">任务名称:</label>
						<label id="InfoJobName" class="control-label"></label>
					</div>
					<div class="item form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">任务组名:</label>
						<label id="InfoJobGroupName" class="control-label"></label>
					</div>
					<div class="item form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">触发器名称:</label>
						<label id="InfoJobTriggerName" class="control-label"></label>
					</div>
					<div class="item form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">触发器组:</label>
						<label id="InfoJobTriggerGroupName" class="control-label"></label>
					</div>
					<div class="item form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">定时表达式:</label>
						<label id="InfoCronExpression" class="control-label"></label>
					</div>

					<div class="item form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">任务状态:</label>
						<label id="InfoJobStatus" class="control-label"></label>
					</div>
					
					<div class="item form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">任务中文描述:</label>
						<label id="InfoJobDesc" class="control-label"></label>
					</div>
					<div class="item form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">创建时间:</label>
						<label id="InfoCreatedates" class="control-label"></label>
					</div>
					<div class="item form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">修改时间:</label>
						<label id="InfoLastupdatetimes" class="control-label"></label>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--删除 模态框（Modal） -->
	<div style="top: 20%;" class="modal fade" id="DeleteModal"
		tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h4 class="modal-title" id="myModalLabel">删除操作</h4>
				</div>
				<div class="modal-body">
					<form name="deleteForm" novalidate>
						<!-- 删除时的id值 -->
						<div class="item form-group" style="display: none;">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input id="delete_jobId" class="form-control col-md-7 col-xs-12"
									name="JobId" type="text">
								<input id="delete_jobName" class="form-control col-md-7 col-xs-12"
									name="jobName" type="text">
								<input id="delete_jobGroupName" class="form-control col-md-7 col-xs-12"
									name="jobGroupName" type="text">
								<input id="delete_jobTriggerName" class="form-control col-md-7 col-xs-12"
									name="jobTriggerName" type="text">
								<input id="delete_jobTriggerGroupName" class="form-control col-md-7 col-xs-12"
									name="jobTriggerGroupName" type="text">
							</div>
						</div>
						<span>此操作不可逆，确定删除吗?</span>

						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">关闭</button>
							<button type="button" onclick="delOne()" class="btn btn-danger">
								确定</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- 模态框（Modal） -->
	<div style="top: 20%;" class="modal fade" id="infoModel"
		tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h4 class="modal-title" id="myModalLabel">友情提示</h4>
				</div>
				<div class="modal-body">
					<label id="infoAction" style="color: red; font-size: large;"></label>
				</div>
			</div>
		</div>
	</div>
</body>
</html>