<!DOCTYPE html>
<html lang="en">
<head>
<title>用户管理</title>
<script src="./js/ees-user.js"></script>
</head>
<body>
	<div class="">
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>用户管理</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content" style="min-height: 480px">

						<div class="row">
							<form id="queryForm" class="form-horizontal form-label-left"
								novalidate>
								<div class="item form-group">
									<label class="control-label col-md-1 col-sm-1 col-xs-1"
										for="query_user_name">用户名</label>
									<div class="col-md-3 col-sm-3 col-xs-6">
										<input id="query_user_name" class="form-control col-md-7 col-xs-12" type="text">
									</div>

									<label class="control-label col-md-3 col-sm-3 col-xs-3"></label> <label
										class="control-label col-md-1 col-sm-1 col-xs-1">登录名 </label>
									<div class="col-md-3 col-sm-3 col-xs-6">
										<input id="query_login_name" class="form-control col-md-7 col-xs-12">
									</div>
								</div>

								<div class="item form-group">
									<label class="control-label col-md-1 col-sm-1 col-xs-1" >所属机构</label>
									<div class="col-md-3 col-sm-3 col-xs-6">
										<input id="query_belong_org" name="belong_org" class="form-control col-md-7 col-xs-12">
									</div>

									<label class="control-label col-md-3 col-sm-3 col-xs-3"></label>

									<label class="control-label col-md-1 col-sm-1 col-xs-1">所属角色</label>
									<div class="col-md-3 col-sm-3 col-xs-6">
										<input id="query_role_name" name="roleId" class="form-control col-md-7 col-xs-12">
									</div>
								</div>
								<div class="form-group" align="center">
									<div class="col-md-6 col-md-offset-3">
										<button type="reset" class="btn btn-primary">重置</button>
										<button type="button" onclick="query()" class="btn btn-success">提交</button>
									</div>
								</div>
							</form>
							<div class="ln_solid"></div>
						</div>

						<div class="row">
							<div class="col-sm-6">
								<button type="button" onclick="addModel()"
									class="btn btn-primary" style="margin: 1px;">添加</button>
								<button type="button"
									onclick="action('/sys/user/upStatus','启用')"
									class="btn btn-primary" style="margin: 1px;">启用</button>
								<button type="button"
									onclick="action('/sys/user/downStatus','禁用')"
									class="btn btn-primary" style="margin: 1px;">禁用</button>
								<button type="button"
									onclick="action('/sys/user/initPwd','密码重置')"
									class="btn btn-primary" style="margin: 1px;">初始化</button>
								<button type="button"
									onclick="action('/sys/user/deleteByIds','批量删除')"
									class="btn btn-primary" style="margin: 1px;">批量删除</button>
							</div>
						</div>

						<table id="datatable-buttons" style="width: 100%"
							class="table table-striped table-bordered">
							<thead>
								<tr>
									<th width="5%">序号</th>
									<th width="10%">用户名</th>
									<th width="10%">昵称</th>
									<th width="15%">邮箱</th>
									<th width="10%">手机号码</th>
									<th width="10%">所属机构</th>
									<th width="10%">所属角色</th>
									<th width="8%">状态</th>
									<th width="23%">操作</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
		
	<!-- 修改窗口模态框（Modal） -->
	<div style="top: 1%; left: 7%" class="modal fade bs-example-modal-lg"
		id="updateModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h4 class="modal-title" >修改操作</h4>
				</div>
				<div class="modal-body">
					<form id="updateForm" class="form-horizontal form-label-left"
						novalidate>
						<div class="item form-group" style="display: none;">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">序号 
								<span class="required"style="color: red;">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input id="updateUserId" class="form-control col-md-7 col-xs-12" name="userId" type="text">
							</div>
						</div>
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">用户名
								 <span class="required" style="color: red;">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input id="updateUserName" class="form-control col-md-7 col-xs-12" name="userName" type="text">
							</div>
							<label class="control-label" for="updateUserName"></label>
						</div>
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">登录名
								 <span class="required" style="color: red;">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input id="updateLoginName" name="loginName" onblur="isExist()" 
									class="form-control col-md-7 col-xs-12">
							</div>
							<label class="control-label" for="updateLoginName" id="updateLoginNameError"></label>
						</div>
						<div class="item form-group">
							<label 
								class="control-label col-md-3 col-sm-3 col-xs-12">性别 <span
								class="required" style="color: red;">*</span></label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<select class="form-control" name="sex" id="updateSexSelect"></select>
							</div>
							<label class="control-label" for="updateSexSelect"></label>
						</div>
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">所属机构
								 <span class="required" style="color: red;">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<select class="form-control" id="updateOrgSelect" name="orgId"
								 	onchange="checkChangeOrg(this.value,'updateOrgIdError',
								 	'updateRoleSelect')"></select>
							</div>
							<label class="control-label" for="updateOrgSelect" ></label>
						</div>
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12" >所属角色 
								<span class="required" style="color: red;">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<select class="form-control" id="updateRoleSelect" name="roleId"></select>
							</div>
							<label class="control-label" for="updateRoleSelect" ></label>
						</div>
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">邮 箱
								<span class="required" style="color: red;">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input id="updateMail" class="form-control col-md-7 col-xs-12"
									   name="email"  type="text">是否收取邮件
								<input id = "updateReceiveEmail" name="receiveEmail" data-size="small" type="checkbox" value="1"/>
							</div>
							<label class="control-label"  id="updateMailError" for="updateMail"></label>
						</div>

						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">电 话
								<span class="required" style="color: red;">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input id="updatePhoneNumber" class="form-control col-md-7 col-xs-12"
									   name="phoneNumber"  type="text">是否收取短信
								<input id = "updateReceiveMessage" name="receiveMessage" data-size="small" type="checkbox"  value="1"/>

							</div>
							<label class="control-label"  id="updatePhoneNumberError" for="updatePhoneNumber"></label>
						</div>
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">备注 </label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<textarea id="updateRemark" name="remark"
									onkeyup="limitMaxLength('updateRemark','update_num_text',500)"
									rows="5" class="form-control col-md-7 col-xs-12"></textarea>
							</div>
							<label class="control-label errorRemark" style="color: red;" id="update_num_text" for="updateRemark">
							</label>
						</div>

						<div class="ln_solid"></div>
						<div class="form-group">
							<div class="col-md-6 col-md-offset-3">
							<button type="button" class="btn btn-primary" data-dismiss="modal" 
								aria-hidden="true">取消</button> 
								<button type="submit" onclick="dosubmitUpdate()" id="updateInfo" 
								class="btn btn-success">修改</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- 新增窗口模态框（Modal） -->
	<div style="top: 1%; left: 7%" class="modal fade bs-example-modal-lg"
		id="addModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h4 class="modal-title" >添加操作</h4>
				</div>
				<div class="modal-body">
					<form id="addForm" class="form-horizontal form-label-left" novalidate>
						<div class="item form-group" style="display: none;">
							<label class="control-label col-md-3 col-sm-3 col-xs-12" for="addUserId">序号
							 	<span class="required"style="color: red;">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input id="addUserId" class="form-control col-md-7 col-xs-12" name="userId" type="text">
							</div>
						</div>
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">用户名
							 <span class="required" style="color: red;">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input id="addUserName" class="form-control col-md-7 col-xs-12" 
								name="userName" type="text">
							</div>
							<label class="control-label" for="addUserName"></label>
						</div>
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">登录名 
								<span class="required" style="color: red;">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input id="addLoginName" name="loginName" onblur="isExist()"
									class="form-control col-md-7 col-xs-12">
							</div>
							<label class="control-label error" id="addLoginNameError" 
								for="addLoginName"></label>
						</div>
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">性别 
								<span class="required" style="color: red;">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<select class="form-control" name="sex" id="addSexSelect"></select>
							</div>
							<label class="control-label"  for="addSexSelect" ></label>
						</div>
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">所属机构 
								<span class="required" style="color: red;">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<select class="form-control" id="addOrgSelect" name="orgId"
									onchange="checkChangeOrg(this.value,'addOrgIdError','addRoleSelect')"></select>
							</div>
							<label class="control-label"  for="addOrgSelect"></label>
						</div>
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">所属角色 
								<span class="required" style="color: red;">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<select class="form-control" id="addRoleSelect" name="roleId"></select>
							</div>
							<label class="control-label" id="addRoleIdError" for="addRoleSelect"></label>
						</div>
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">邮 箱
								<span class="required" style="color: red;">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input id="addMail" class="form-control col-md-7 col-xs-12"
									   name="email" type="text">是否收取邮件
								<input name="receiveEmail" data-size="small" type="checkbox"  value="1"/>
							</div>
							<label class="control-label"  id="mailError" for="addMail"></label>
						</div>

						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">电 话
								<span class="required" style="color: red;">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input id="addPhoneNumber" class="form-control col-md-7 col-xs-12"
									   name="phoneNumber" type="text">是否收取短信
								<input name="receiveMessage" data-size="small" type="checkbox"  value="1"/>

							</div>
							<label class="control-label"  id="phoneNumberError" for="addPhoneNumber"></label>
						</div>
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12" >备注 </label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<textarea id="addRemark" name="remark"
									onkeyup="limitMaxLength('addRemark','add_num_text',500)"
									rows="5" class="form-control col-md-7 col-xs-12"></textarea>
							</div>
							<label class="control-label errorRemark" style="color: red;" id="add_num_text" for="addRemark"></label>
						</div>

						<div class="ln_solid"></div>
						<div class="form-group">
							<div class="col-md-6 col-md-offset-3">
								<button type="reset" class="btn btn-primary">重置</button>
								<button type="submit" onclick="dosubmitAdd()" id="addInfo" class="btn btn-success">提交</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- 模态框（Modal） -->
	<div style="top: 20%;" class="modal fade" id="DeleteModal"
		tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h4 class="modal-title" >删除操作</h4>
				</div>
				<div class="modal-body">
					<form name="deleteForm" novalidate>
						<!-- 删除时的id值 -->
						<div class="item form-group" style="display: none;">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input id="delete_id" class="form-control col-md-7 col-xs-12"
									name="userId" type="hidden">
							</div>
						</div>
						<span>此操作不可逆，确定删除吗?</span>

						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">
								关闭
							</button>
							<button type="button" onclick="delOne()" class="btn btn-danger">
								确定
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- 模态框（Modal） -->
	<div style="top: 20%;" class="modal fade" id="editPasswordModal"
		tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h4 class="modal-title" >密码修改操作</h4>
				</div>
				<div class="modal-body">
					<form novalidate>
						<!-- 密码修改时的id值 -->
						<div class="item form-group" style="display: none;">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input id="editPasswordId" name="userId" 
									class="form-control col-md-7 col-xs-12" type="hidden">
							</div>
						</div>
						<h5>此操作不可逆，确定修改吗?</h5>
						<div class="item form-group">
							<div class="col-md-10 col-sm-10 col-xs-12">
								<input id="editNewPassword" name="password"
									class="form-control col-md-7 col-xs-12" 
									required="required" type="text">
							</div>
						</div>
						<button type="button" onclick="editPassword()" class="btn btn-danger">
							确定
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- 模态框（Modal） -->
	<div style="top: 20%;" class="modal fade" id="infoModel"
		tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h4 class="modal-title" id="myModalLabel">友情提示</h4>
				</div>
				<div class="modal-body">
					<label id="infoAction" style="color: red; font-size: large;"></label>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 详情窗口模态框（Modal） -->
	<div style="top: 1%; left: 7%" class="modal fade bs-example-modal-lg"
		id="detailsModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h4 class="modal-title" id="myModalLabel">用户详情</h4>
				</div>
				<div class="modal-body">
					<form id="allInfoForm" class="form-horizontal form-label-left"
						novalidate>
						<div class="item form-group" style="display: none;">
							<label class="control-label col-md-3 col-sm-3 col-xs-12"
								for="id">序号 <span class="required"
								style="color: red;">*</span>
							</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input id="id"
									class="form-control col-md-7 col-xs-12" name="acctErrId"
									type="text">
							</div>
						</div>
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">用户名称:</label>
							<label id="detailsUserName" class="control-label"></label>
						</div>
						
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">登录名称:</label>
							<label id="detailsLoginName" class="control-label"></label>
						</div>
						
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">性别:</label>
							<label id="detailsSex" class="control-label"></label>
						</div>
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">所属机构:</label>
							<label id="detailsOrgName" class="control-label"></label>
						</div>
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">所属角色:</label>
							<label id="detailsRoleName" class="control-label"></label>
						</div>
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">用户状态:</label>
							<label id="detailsStatus" class="control-label"></label>
						</div>
						
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">用户手机:</label>
							<label id="detailsPhoneNumber" class="control-label"></label>
						</div>
						
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">接收短信:</label>
							<label id="detailsReceiveMessage" class="control-label"></label>
						</div>
						
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">用户邮箱:</label>
							<label id="detailsMail" class="control-label"></label>
						</div>
						
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">接收邮件:</label>
							<label id="detailsReceiveEmail" class="control-label"></label>
						</div>
						
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">备注:</label>
							<label id="detailsRemark" class="control-label"></label>
						</div>
						
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">创建时间:</label>
							<label id="detailsCreatedates" class="control-label"></label>
						</div>
						
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">处理时间:</label>
							<label id="detailsLastupdatetimes" class="control-label"></label>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>