<?xml version="1.0" encoding="GB2312"?>
<configuration status="OFF">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %C{1.} %L -- %msg%n"/>
        </Console>
        <File name="ees-log" fileName="logs/ees.log" append="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </File>
    </appenders>
    <loggers>
        <root level="ERROR">
            <appender-ref ref="Console"/>
            <appender-ref ref="ees-log"/>
        </root>
        <logger name="com.baixin" level="INFO" additivity="false">
            <appender-ref ref="Console"/>
            <appender-ref ref="ees-log" />
        </logger>
        <logger name="com.alibaba.druid" level="ERROR" additivity="false">
            <appender-ref ref="Console"/>
            <appender-ref ref="ees-log" />
        </logger>
    </loggers>
</configuration>